<div class="wrapper" [formGroup]="form">
    <mat-form-field>
        <mat-label>Site name:</mat-label>
        <input matInput type="text" formControlName="siteName">
    </mat-form-field>
        <mat-slide-toggle  formControlName="isEntireSitePublic">Is Entire Site Public</mat-slide-toggle>
        <mat-slide-toggle formControlName="requiresRegistration">Requires registration</mat-slide-toggle>
    <mat-form-field>
        <mat-label>Admin user name: </mat-label>
        <input matInput type="text" formControlName="adminUserName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Admin email: </mat-label>
        <input matInput type="text" formControlName="adminEmail">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Admin password: </mat-label>
        <input matInput type="password" formControlName="adminPassword">
    </mat-form-field>
</div> 