<mat-card>
    <mat-card-content>
        <div [formGroup]="form">
            <app-template-select [form]="form"></app-template-select>
            <mat-divider></mat-divider>
            <app-site-form [form]="form"></app-site-form>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [disabled]="form.invalid || loading" (click)="onSubmit()">Submit</button>
    </mat-card-actions>
</mat-card>