<div class="wrapper">
    <mat-form-field *ngIf="templates$|async; else loading" [formGroup]="form">
        <label for="templateName">Select Template: </label>
        <mat-select matInput formControlName="templateName">
            <mat-option *ngFor="let template of templates$|async" [value]="template.name">{{template.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <ng-template #loading>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
</div>